@import "fonts.css";
/* ------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
body {
font-size: 16px;
}
/* ---------------------------------------Header------------------------------------ */
.wrapper {
    width: 20rem;
    margin: 0 auto;
}
.page-header {
    background: url(./../img/Mobile-1.jpg) no-repeat;
    display: block;
    height: auto;
    color: #ffffff;
    padding: 1.5625rem 0.3125rem 8.125rem;
    width: 19.375rem;
    margin: auto;
}
.box-navigation {
    
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2.375rem
}
/* .page-nav {
    margin-bottom: 7.5rem;
} */
.site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.875rem; 
    padding: 0.5rem 1.125rem;
}
.login:hover {
    border: 0.125rem solid #fff;
    border-radius: 2.1875rem;
}
.sign-up {
    padding: 0.625rem 0.9375rem;
}
.sign-up:hover {
    border: 0.125rem solid #fff;
    border-radius: 2.1875rem;
}
.logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
}
.services {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.8125rem;
}
.info {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.125rem;
    margin: 0 auto 0.8125rem;
    max-width: 14.0625rem;
}
.button-find {
    display: block;
    margin: auto;
    width: 17.5rem;
    height: 2.5rem;
    border: none;
    background: none;
    border: 0.0625rem solid #ff4e50;
    background-color: #ff4e50;
    border-radius: 2rem;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
}
/* ------------------------------------Main-------------------------------------- */
.page-main {
    width: 18.75rem;
    text-align: center;
    margin: auto;
}
.title-search {
    margin-bottom: 0.9375rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.375rem;

}
.team-box  {
    width: 14.6875rem;
    padding: 4.125rem 0 0 0;
    margin: 0 auto;
}
.photo {
     /* margin-bottom: 0.625rem; */
}
.team-card {
    position: relative;
    width: 14.6875rem;  
    display: flex; 
    flex-direction: column;
}
.card-1::after {
    content: url(./../img/icon-red.png);
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 35%;
    right: 25%;
}
.card-2::after {
    content: url(./../img/icon-yellow.png);
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 35%;
    right: 25%;
}
.card-3::after {
    content: url(./../img/icon-green.png);
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 35%;
    right: 25%;
}
.card-4:after {
    content: url(./../img/icon-blue.png);
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 35%;
    right: 25%;
}
.link-team {
    color: #000000;
}
.name-partner {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
.info-list {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    color: #666666;
    margin: auto;
}
/* ------------------------------------Footer-------------------------------------- */
.btn-search {
    display: block;
    margin: auto;
    width: 17.5rem;
    height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #ff4e50;
    background-color: #fff;
    border: 0.125rem solid #ff4e50;
    border-radius: 2rem;
    cursor: pointer;
}
.page-footer {
    padding: 2.5rem 0 3.4375rem;
}