@import "fonts.css";
/* ------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
font-size: 16px;
}
/* ---------------------------------------Header------------------------------------ */
.wrapper    {
    margin: auto;
}
.navigation {
    width: 58.75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 0 6.875rem;
}
.link-logo {
    font-family: 'Wisdom Script';
    font-size: 1.625rem;
    font-weight: 400;
    color: #fee18d;
}
.main-nav {
    display: flex;
    flex-basis: 30.3125rem;
}
.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30.3125rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase; 
}
.nav-item {
color: #222222;
}
.nav-item:hover {
    color: #fee18d;
}
/* ---------------------------------Section sec-1------------------------------------- */
.sec-1 {
    width: 58.75rem;
    margin: auto;
    padding-bottom: 6.8125rem;
}
.title-one {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 2.1875rem;
    font-size: 2.5rem;
    color: #222222;
    text-align: center;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.title-two {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.0625rem;
    font-size: 1rem;
    color: #777777;
    text-align: center;
    margin-bottom: 4.6875rem;
}
.service-box {
    display: flex;
}
.service-item {
    padding-top: 6rem;
    position: relative;
    display: flex;
    flex-direction:	column;
    align-items: center;
}
.icon-serv1:before {
    content: url(./../img/icon-1.png);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(0%);
    /* background-image: url(img/icon-1.png); */
    width: 4.6875rem;
    height: 4.5625rem;  
}
.icon-serv2:before {
    content: url(./../img/icon-2.png);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(0%);
    /* background-image: url(img/icon-2.png); */
    width: 4.6875rem;
    height: 4.5625rem;   
}
.icon-serv3:before {
    content: url(./../img/icon-3.png);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(0%);
    /* background-image: url(/img/icon-3.png); */
    width: 4.6875rem;
    height: 4.5625rem;   
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.service-text  {
    text-align: center;
}
.service_info {
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 0.9375rem;
}
.serv-information {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 0.875rem;
    color: #777777;
}
/* ---------------------------------Section sec-2------------------------------------- */
.sect-2 {
    background: url(./../img/map.png) no-repeat;
    background-size: cover;
    min-height: 42.25rem;
}
.box-form {
    padding-top: 6.875rem;
    width: 58.75rem;
    min-height: 28.4375rem;
    margin: auto;
}
.title-one-sect-2 {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
.title-two-sect-2 {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: italic;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    margin-bottom: 5.4375rem;
}
.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-input {
    margin-bottom: 1.875rem;
}
 .list-input:last-child {
    margin: 0;
}
.input-line {
    box-sizing: border-box;
    width: 28.5625rem;
    height: 3.125rem;
    border: none;
    border: 0.0625rem solid #cccccc;
    border-radius: 0.125rem;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: none;
    text-indent: 0.7692rem;
}
.input-area {
    padding: 10px;
    box-sizing: border-box;
    width: 28.5625rem;
    height: 13.125rem;
    border: none;
    border: 0.0625rem solid #cccccc;
    border-radius: 0.125rem;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: none;
    text-indent: 1.25rem;
}
.submit-but {
    border: none;
    background-color: #fed136;
    color: #ffffff;
    text-transform: uppercase;
    width: 15rem;
    height: 4.0625rem;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 30px 0 0 350px;
}
textarea::placeholder, input::placeholder {
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 14px;
}
.req:valid {
    outline: 0.125rem solid #008000;
}
.req:invalid {
    outline: 0.125rem solid #fd0101;
}
