main, header {
    margin: 0 auto;
    width: 901px;
    text-align: center;
}

.main-nav {
    margin-top: 77px;
}

main {
    margin-top: 104px;
}

article {
    width: 420px;  
    display: inline-block;
    text-align: left; 
}

.second {
    margin-left: 56px;
}

.main-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 35px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;    
}

.main-nav ul li a {
    color: #626262;
    text-decoration: none;
}

.main-nav ul li a:hower {
    color: #7fd9c7;
}

.main-nav ul li a:active {
    color: red ;
}

.category {
    margin-top: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}

.foto img {
    margin-top: 140px;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-weight: 400;
}

article p {
    margin-top: 40px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

button {
    margin-top: 57px; 
    margin: 70px;
    border:1px solid #626262;
    padding: 22px 33px;
    font-size: 20px;
    line-height: 24px;
    color: #acacac;
    font-family: 'Playfair Display', serif;
    background: white;
}