*{
    margin: 0;
    padding: 0;    
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrapper {
    padding-top: 32px;
    width: 1110px;
    margin: auto; 
    background-color: #ffffff;
    font-family:'Roboto', sans-serif; 
    font-size: 18px;
    line-height: 26px;  
}
.header {
    margin-bottom: 110px;
}
.logo {
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
    margin-right: 95px;
    color: #656262;
  } 
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.logo::first-letter {
    color: #1abc9c;
    font-weight: bold;  
}
.navigation {
    float: right;
    display: block;
    font-size: 14px;
    line-height: 11px;
    color: #0f0101;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.navigation:hover {
    color: #a1ddce;
}
.menu li {
    float: left;
    margin: 11px;
}
nav {
    float: right;
}


.title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    /* font-weights не применился */
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    color: 	#515151;
    margin-bottom: 92px;
}
.title::after {
    content: "";
    display: block;
    margin: auto;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    margin-top: 32px;
} 


img {
    display: block;
}
.product-card {
    
    
    width: 255px;
    height: 322px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #fff;
    
}
li {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}
 .products_box li:nth-child(4n+4) {
    margin-right: 0;
}  
.products_box li:nth-last-child(-n+4) {
    margin-bottom: 0;
} 
.name {
    float: left;
    width: 186px;
    height: 40px;
    background-color: #323232;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    padding-left: 14px;
}
.price {
    float: right;
    background-color: #8c8c8c;
    line-height: 40px;
    width: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
} 
 .product-card:hover .name {
    background-color: #1abc9c;
}
 .product-card:hover .price {
    background-color: #7fd9c7;
} 
.products {
    margin-bottom: 105px;
}


.title2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    color: 	#515151;
    margin-bottom: 80px;
}
.title2::after {
    content: "";
    display: block;
    margin: auto;
    width: 165px;
    height: 7px;
    background-color: #1abc9c;
    margin-top: 32px;
} 
h3 {
    margin: 15px 0;
}
h3::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    content: "";
    margin-top: 32px;
    margin-left: 0px;
}
  .news li {
    display: inline-block;
    float: left;
    width: 350px;
    text-align: left;
    margin-right: 30px;
    margin-bottom: 20px; 
  }
  .news li:last-child {
    margin-right: 0px;
}
.boxes a {
    display: inline-block;
    color: #ffffff;
    font-weight: 300;
    background-color: #1abc9c;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #1abc9c;
    width: 160px;
    height: 50px;
    text-rendering: auto;
}
.read:hover {
    background-color: #7fd9c7;
}
p {
    margin: 15px 0px 18px 0px;
}

